$button-color: #114b8a;
$button-text:#e2effd;
$header-background: #ffffff;
$menu-color: #000000;
$language-color:#b5b5b5;
$language-color-hover-active: #000000;
$slides-background:#083d77;
$slides-text:#ffffff;
$circle-background:#f79369;
$circle-text:#ffffff;
$li-marker: #ea5256;
$footer-background:#000000;
$footer-text:#ffffff;
$text-color: #000000;
$text-color-slide:#ffffff;
$header-height:144px;
$footer-height:104px;
$border-for-logo:2px;
$border-header-logo:4px;
$burger-height-solid:4px;
$table-max-width: 1439px;
$mobile-max-width: 767px